{
  "presets": ["es2015", "react"],
  "plugins": ["transform-object-assign"],
  "env": {
    "dev": {
      "presets": ["react-hmre"]
    },
    "prod": {
      "plugins": ["transform-react-inline-elements"]
    }
  }
}
